# Mongo Database Connection
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=dfai_db

# Redis
REDIS_URL=redis://localhost:6379/0
REDIS_RESULT_BACKEND=redis://localhost:6379/1

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# App
DEBUG=true
ENVIRONMENT=development